
.icon-clock:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-rouble:before { content: '\f158'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
